
@media screen and (min-width: 0px) and (max-width: 600px) {
    
body{
    background-color: white;
}

.dancing-script-uniquifier {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

.playfair-display-uniquifier {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }


.bemvindo{
    position: absolute;
    top: 50%;
    left: 22%;
    width: 200%;
    font-size: 23px;
    flex:content;
    color: burlywood;


}
.galeria{
    position: absolute;
    top: 90%;
    left: 40%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 1vw;
}
.itens-galeria{
    width: 430px;
    height: 350px;
    border: 13px solid burlywood;
    box-shadow: 7px 7px 7px #1f0505;
    flex-grow: 1;
    filter: grayscale(50%);
    transition: transform 0.5s linear;
}
.itens-galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.itens-galeria:hover{
    transform: scale(1.2);
   filter: none;
}


header{
    position: relative;

    background-color: rgb(0, 0, 0);
    
    width: 203%;
    height: 140px;
    border-bottom: 1px solid black;
}


a{
    text-decoration: none;
    color: black;

}

.logo1{
    position: absolute;
    width: 230px;
    height: 230px;
    top: -22%;
    left: 10%;
}

.BotaoFaleConosco{
    position: absolute;
    color: BurlyWood;
    top: 44%;
    left: 75%;
    font-size: 18px;
    background: rgb(0, 0, 0);
    height: 28px;
    padding: 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
    border:none;
    border-top: 1px solid BurlyWood;
    border-bottom: 1px solid BurlyWood;
    border-right: 1px solid BurlyWood;
    border-left: 1px solid BurlyWood;
}

.BotaoFaleConosco:hover{
    color: white;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
}

.BotaoHome{
    position: absolute;
    color: rgb(255, 255, 255);
    top: 47%;
    left: 45%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0px 10px;
}

.BotaoHome:hover{
    color: burlywood;
}

.BotaoGaleria{
    position: absolute;
    color: rgb(255, 255, 255);
    top: 47%;
    left: 62%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0px 10px;
}

.BotaoGaleria:hover{
    color: burlywood;
}

.BotaoCardapio{
    position: absolute;
    color: rgb(255, 255, 255);
    top: 47%;
    left: 52%;
    font-size: 16px;
    padding: 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
  
}

.BotaoCardapio:hover{
    color: burlywood;
}

.container2{
    background-color: Wheat;
    position: absolute;
    border-top: 3px solid rgb(0, 0, 0);


    height: 300px;
    width: 197%;
    left: 0%;
    top: 1063%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.TextoFaleConosco1{
    position: absolute;
    left: 12%;
    top: 25%;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    font-size: 17px;
}


.TituloFaleConosco{
    position: absolute;
    left: 60%;
    top: 14%;
    font-size: 20px;
}

.TextoFaleConosco{
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    left: 55%;
    top: 34%;
    font-size: 19px;
}

.botaoFaleConosco{
    position: absolute;
    left: 62%;
    top: 55%;
    color: black;
    
    height: 35px;
    width: 90px;
    font-size: 20px;
    padding: 0px 30px;
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.botaoFaleConosco:hover{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

.nomefaleconosco{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 20%;
    left: 15%;
    width: 100%;
}

.nomefaleconosco:hover{
    color: gray;
}



footer{
    
    position: absolute;
    background-color: rgb(0, 0, 0);

    width: 197%;
    height: 230px;
    top:  1110%;
    left: 0%;

}

.logo2{
    position: absolute;
    width: 210px;
    height: 210px;
    top: 6%;
    left: 5%;
}

.email{
    position: absolute;
    color: white;
    top: 28%;
    left: 35%;
}

.numtel{
    position: absolute;
    color: white;
    top: 38%;
    left: 37%;
}

.tituloContato{
    position: absolute;
    color: rgb(255, 255, 255);
    top: 5%;
    left: 40%;

}

.tituloEndereco{
    position: absolute;
    color: white;
    top: 5%;
    left: 65%;
}

.Endereco{
    position: absolute;
    color: white;
    top: 28%;
    left: 61%;
}

.direitoshome{
    position: absolute;
    color: white;
    left: 10%;
    top: 80%;
    font-size: 7px;
    width: 120%;
}
}

@media screen  and (min-width: 600px) {
    
body{
    background-color: white;
}

.dancing-script-uniquifier {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

.playfair-display-uniquifier {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }


.bemvindo{
    position: absolute;
    top: 28%;
    left: 30%;
    font-size: 25px;
    flex:content;
    color: burlywood;


}
.galeria{
    position: absolute;
    top: 50%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 1vw;
}
.itens-galeria{
    width: 240px;
    height: 200px;
    border: 13px solid burlywood;
    box-shadow: 7px 7px 7px #1f0505;
    flex-grow: 1;
    filter: grayscale(50%);
    transition: transform 0.5s linear;
}
.itens-galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.itens-galeria:hover{
    transform: scale(1.2);
   filter: none;
}


header{
    position: relative;

    background-color: rgb(0, 0, 0);
    
    width: 101%;
    height: 140px;
    border-bottom: 1px solid black;
}

.containerImagem{
    position: absolute;
    background-color: black;
    top: 20%;
    height: 100%;
    width: 100%;
}

.TextoPrincipalHome{
    position: absolute;
    color: white;
    top: 30%;
    left: 20%;
   
    font-size: 40px;
}

.MaisInfos{
    position: absolute;
    color: white;
    top: 47%;
    left: 35%;
    
}

.imgPrincipalHome{
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    opacity: 35%;
}

a{
    text-decoration: none;
    color: black;

}

.logo1{
    position: absolute;
    width: 230px;
    height: 230px;
    top: -22%;
    left: 10%;
}

.BotaoFaleConosco{
    position: absolute;
    color: BurlyWood;
    top: 41%;
    left: 77%;
    font-size: 25px;
    background: rgb(0, 0, 0);
    height: 35px;
    padding: 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    border:none;
    border-top: 1px solid BurlyWood;
    border-bottom: 1px solid BurlyWood;
    border-right: 1px solid BurlyWood;
    border-left: 1px solid BurlyWood;
}

.BotaoFaleConosco:hover{
    color: white;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
}

.BotaoHome{
    position: absolute;
    color: rgb(255, 255, 255);
    top: 43%;
    left: 51%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 0px 20px;
    border-right: 3px solid BurlyWood;
}

.BotaoHome:hover{
    color: burlywood;
}

.BotaoGaleria{
    position: absolute;
    color: rgb(255, 255, 255);
    top: 43%;
    left: 67%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 0px 20px;
    border-right: 3px solid BurlyWood;
}

.BotaoGaleria:hover{
    color: burlywood;
}

.BotaoCardapio{
    position: absolute;
    color: rgb(255, 255, 255);
    top: 43%;
    left: 58%;
    font-size: 25px;
    padding: 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 3px solid BurlyWood;
}

.BotaoCardapio:hover{
    color: burlywood;
}


.container2{
    position: absolute;
    background: rgb(255, 255, 255);
    border-top: 3px solid rgb(0, 0, 0);


    height: 500px;
    width: 100%;
    left: 0%;
    top: 15.5%;

    display: flex;
    flex-direction:column;
    justify-content:center;
    flex-wrap:wrap;
    align-items:center;
}

.ColunaFaleConosco{
    position: relative;
    
    width: 550px;
    height: 300px;
    top: -3%;
    
}

.TituloFaleConosco{
    position: absolute;
    left: 32.5%;
    top: 4%;
}

.TextoFaleConosco{
    position: absolute;
    left: 22%;
    top: 34%;
}

.botaoFaleConosco{
    position: absolute;
    left: 37%;
    top: 65%;
    color:#010101;
    background: rgb(255, 255, 255);
    height: 35px;
    padding: 0px 20px;
    border:none;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
}


.container2{
    background-color: Wheat;
    position: absolute;
    border-top: 3px solid rgb(0, 0, 0);


    height: 500px;
    width: 100%;
    left: 0%;
    top: 210.5%;

}

.TextoFaleConosco1{
    position: absolute;
    left: 12%;
    top: 35%;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    font-size: 25px;
}


.TituloFaleConosco{
    position: absolute;
    left: 62.5%;
    top: 6%;
    width: 100%;
    font-size: 25px;
}

.TextoFaleConosco{
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    left: 62%;
    width: 60%;
    top: 31%;
}

.botaoFaleConosco{
    position: absolute;
    left: 72%;
    top: 60%;
    color:black;
    background: rgb(255, 255, 255);
    height: 35px;
    width: 90px;
    font-size: 20px;
    padding: 20px 30px;
    border:none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.botaoFaleConosco:hover{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

.nomefaleconosco{
    color: burlywood;
    position: absolute;
    top: 20%;
    left: 17%;
    width: 100px;
}

.nomefaleconosco:hover{
    color: gray;
}



footer{

    position: absolute;
    background-color: rgb(0, 0, 0);

    width: 100%;
    height: 230px;
    top:  280%;
    left: 0%;

}

.logo2{
    position: absolute;
    width: 230px;
    height: 230px;
    top: 0%;
    left: 5%;
}

.email{
    position: absolute;
    color: white;
    top:28%;
    left:33%;
}

.numtel{
    position: absolute;
    color: white;
    top:38%;
    left:33%;
}

.tituloContato{
    position: absolute;
    color: rgb(255, 255, 255);
    top:5%;
    left:33%;

}

.tituloEndereco{
    position: absolute;
    color: white;
    top:5%;
    left:58%;
}

.Endereco{
    position: absolute;
    color: white;
    top:28%;
    left:58%;
}

.direitoshome{
    position: absolute;
    color: white;
    left:30%;
    top:80%;
    font-size: 7px;
}
}

